Repository art-here/art-here-backend, pull requests merged in 2023-03, with the labels that each got.

#51 [feat] 메인화면 주소 검색 기능을 구현한다.
  src/docs/asciidoc/arts.adoc
  src/main/java/com/backend/arthere/arts/application/ArtsService.java
  src/main/java/com/backend/arthere/arts/domain/ArtsCustomRepository.java
  src/main/java/com/backend/arthere/arts/domain/ArtsCustomRepositoryImpl.java
  src/main/java/com/backend/arthere/arts/dto/ArtImageByAddressRequest.java
  src/main/java/com/backend/arthere/arts/dto/ArtImageByAddressResponse.java
  src/main/java/com/backend/arthere/arts/exception/QueryNotInputException.java
  src/main/java/com/backend/arthere/arts/presentation/ArtsController.java
  src/main/java/com/backend/arthere/global/config/SecurityConfig.java
  src/main/java/com/backend/arthere/global/error/ControllerAdvice.java
  src/main/resources/static/docs/arts.html
  src/main/resources/static/docs/auth.html
  src/main/resources/static/docs/details.html
  src/main/resources/static/docs/image.html
  src/main/resources/static/docs/index.html
  src/main/resources/static/docs/member.html
  src/test/java/com/backend/arthere/arts/application/ArtsServiceTest.java
  src/test/java/com/backend/arthere/arts/domain/ArtsRepositoryTest.java
  src/test/java/com/backend/arthere/arts/presentation/ArtsControllerTest.java
  src/test/java/com/backend/arthere/fixture/EntireArtsFixtures.java
Labels: docs, test, feat

#53 [fix] 프론트엔드 도메인 CORS 설정 추가
  src/main/java/com/backend/arthere/global/config/WebMvcConfig.java
Labels: fix

#55 [refactor] @valid 어노테이션으로 파라미터를 검증한다.
  src/docs/asciidoc/arts.adoc
  src/main/java/com/backend/arthere/arts/application/ArtsService.java
  src/main/java/com/backend/arthere/arts/dto/ArtImageByAddressRequest.java
  src/main/java/com/backend/arthere/arts/exception/QueryNotInputException.java
  src/main/java/com/backend/arthere/arts/presentation/ArtsController.java
  src/main/java/com/backend/arthere/global/error/ControllerAdvice.java
  src/main/resources/static/docs/index.html
  src/test/java/com/backend/arthere/arts/application/ArtsServiceTest.java
  src/test/java/com/backend/arthere/arts/presentation/ArtsControllerTest.java
Labels: refactoring, test, feat

#58 [feat] 작품명으로 검색하는 API 구현
  src/docs/asciidoc/arts.adoc
  src/main/java/com/backend/arthere/arts/application/ArtsService.java
  src/main/java/com/backend/arthere/arts/domain/ArtsCustomRepository.java
  src/main/java/com/backend/arthere/arts/domain/ArtsCustomRepositoryImpl.java
  src/main/java/com/backend/arthere/arts/dto/ArtImageByArtNameRequest.java
  src/main/java/com/backend/arthere/arts/dto/ArtImageByArtNameResponse.java
  src/main/java/com/backend/arthere/arts/presentation/ArtsController.java
  src/main/java/com/backend/arthere/global/config/SecurityConfig.java
  src/main/resources/static/docs/index.html
  src/test/java/com/backend/arthere/arts/application/ArtsServiceTest.java
  src/test/java/com/backend/arthere/arts/domain/ArtsRepositoryTest.java
  src/test/java/com/backend/arthere/arts/presentation/ArtsControllerTest.java
Labels: docs, test, feat

#60 [feat] 토큰 발급 기능을 구현한다.
  src/docs/asciidoc/auth.adoc
  src/main/java/com/backend/arthere/auth/application/AuthService.java
  src/main/java/com/backend/arthere/auth/domain/TokenRepository.java
  src/main/java/com/backend/arthere/auth/dto/request/TokenIssueRequest.java
  src/main/java/com/backend/arthere/auth/dto/response/TokenIssueResponse.java
  src/main/java/com/backend/arthere/auth/exception/InvalidRefreshTokenException.java
  src/main/java/com/backend/arthere/auth/exception/InvalidTokenException.java
  src/main/java/com/backend/arthere/auth/handler/OAuth2LoginSuccessHandler.java
  src/main/java/com/backend/arthere/auth/presentation/AuthController.java
  src/main/java/com/backend/arthere/global/error/ControllerAdvice.java
  src/main/resources/application.yml
  src/main/resources/static/docs/index.html
  src/test/java/com/backend/arthere/auth/application/AuthServiceTest.java
  src/test/java/com/backend/arthere/auth/presentation/AuthControllerTest.java
  src/test/java/com/backend/arthere/fixture/TokenFixtures.java
Labels: docs, test, feat

#62 [refactor] 정적 팩토리 메서드 적용
  src/main/java/com/backend/arthere/arts/domain/Arts.java
  src/main/java/com/backend/arthere/auth/dto/response/LoginResponse.java
  src/main/java/com/backend/arthere/details/application/DetailsService.java
  src/main/java/com/backend/arthere/details/dto/response/ArtMapResponse.java
  src/main/java/com/backend/arthere/details/dto/response/ArtResponse.java
  src/main/java/com/backend/arthere/member/application/MemberService.java
  src/main/java/com/backend/arthere/member/domain/Member.java
  src/main/java/com/backend/arthere/member/dto/response/MemberResponse.java
  src/test/java/com/backend/arthere/arts/application/ArtsServiceTest.java
  src/test/java/com/backend/arthere/arts/domain/ArtsRepositoryTest.java
  src/test/java/com/backend/arthere/auth/domain/TokenRepositoryTest.java
  src/test/java/com/backend/arthere/details/application/DetailsServiceTest.java
  src/test/java/com/backend/arthere/details/domain/DetailsRepositoryTest.java
  src/test/java/com/backend/arthere/details/domain/DetailsTest.java
  src/test/java/com/backend/arthere/details/presentation/DetailsControllerTest.java
  src/test/java/com/backend/arthere/fixture/ArtsFixtures.java
  src/test/java/com/backend/arthere/fixture/DetailsFixtures.java
  src/test/java/com/backend/arthere/fixture/EntireArtsFixtures.java
  src/test/java/com/backend/arthere/fixture/MemberFixtures.java
  src/test/java/com/backend/arthere/member/application/MemberServiceTest.java
  src/test/java/com/backend/arthere/member/domain/MemberRepositoryTest.java
  src/test/java/com/backend/arthere/member/presentation/MemberControllerTest.java
Labels: refactoring, cleanup

#64 [feat] 토큰 발급 로직을 변경한다.
  src/docs/asciidoc/auth.adoc
  src/main/java/com/backend/arthere/auth/application/AuthService.java
  src/main/java/com/backend/arthere/auth/dto/request/TokenIssueRequest.java
  src/main/java/com/backend/arthere/auth/exception/FailedTokenAuthenticationException.java
  src/main/java/com/backend/arthere/auth/jwt/JwtAccessDeniedHandler.java
  src/main/java/com/backend/arthere/auth/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/com/backend/arthere/auth/jwt/JwtTokenAuthenticationFilter.java
  src/main/java/com/backend/arthere/auth/jwt/JwtTokenProvider.java
  src/main/java/com/backend/arthere/auth/presentation/AuthController.java
  src/main/java/com/backend/arthere/global/config/SecurityConfig.java
  src/main/java/com/backend/arthere/global/config/WebMvcConfig.java
  src/main/java/com/backend/arthere/global/error/ControllerAdvice.java
  src/main/java/com/backend/arthere/global/error/ErrorResponse.java
  src/main/resources/static/docs/index.html
  src/test/java/com/backend/arthere/auth/application/AuthServiceTest.java
  src/test/java/com/backend/arthere/auth/presentation/AuthControllerTest.java
  src/test/java/com/backend/arthere/fixture/TokenFixtures.java
Labels: docs, refactoring, test

#66 [Feature] s3 image 리팩토링
  src/main/java/com/backend/arthere/arts/application/ArtsService.java
  src/main/java/com/backend/arthere/global/config/AdminS3Config.java
  src/main/java/com/backend/arthere/image/application/ImageService.java
  src/main/java/com/backend/arthere/image/util/PresignedURLUtils.java
  src/test/java/com/backend/arthere/arts/application/ArtsServiceTest.java
  src/test/java/com/backend/arthere/image/application/ImageServiceTest.java
Labels: refactoring, test

#69 [refactor] preflight 요청 허용
  src/main/java/com/backend/arthere/global/config/SecurityConfig.java
  src/main/java/com/backend/arthere/global/config/WebMvcConfig.java
Labels: refactoring

#70 [feat] 지도 이미지 API 리팩토링
  src/docs/asciidoc/arts.adoc
  src/main/java/com/backend/arthere/arts/application/ArtsService.java
  src/main/java/com/backend/arthere/arts/dto/ArtImageByLocationRequest.java
  src/main/java/com/backend/arthere/arts/presentation/ArtsController.java
  src/main/java/com/backend/arthere/arts/util/LocationUtils.java
  src/main/resources/static/docs/index.html
  src/test/java/com/backend/arthere/arts/application/ArtsServiceTest.java
  src/test/java/com/backend/arthere/arts/presentation/ArtsControllerTest.java
  src/test/java/com/backend/arthere/arts/util/LocationUtilsTest.java
Labels: docs, refactoring, feat
