Repository art-here/art-here-backend, pull requests merged in 2023-04, with the labels that each got.

#74 [refactor] 작품 관련 변경사항을 적용한다.
  src/main/java/com/backend/arthere/arts/domain/Address.java
  src/main/java/com/backend/arthere/arts/domain/Arts.java
  src/main/java/com/backend/arthere/arts/domain/Category.java
  src/main/java/com/backend/arthere/details/domain/Details.java
  src/main/java/com/backend/arthere/details/domain/ExhibitionPeriod.java
  src/main/java/com/backend/arthere/details/dto/request/ArtRequest.java
  src/main/java/com/backend/arthere/details/dto/response/ArtResponse.java
  src/main/resources/static/docs/index.html
  src/test/java/com/backend/arthere/arts/domain/ArtsRepositoryTest.java
  src/test/java/com/backend/arthere/details/presentation/DetailsControllerTest.java
  src/test/java/com/backend/arthere/fixture/ArtsFixtures.java
  src/test/java/com/backend/arthere/fixture/DetailsFixtures.java
Labels: refactoring, test

#78 [feat] 관리자 작품 조회 필터 기능을 구현한다.
  src/docs/asciidoc/details.adoc
  src/main/java/com/backend/arthere/arts/domain/Arts.java
  src/main/java/com/backend/arthere/details/domain/DetailsCustomRepositoryImpl.java
  src/main/java/com/backend/arthere/global/error/ControllerAdvice.java
  src/main/resources/static/docs/index.html
  src/test/java/com/backend/arthere/details/domain/DetailsRepositoryTest.java
  src/test/java/com/backend/arthere/details/presentation/DetailsControllerTest.java
Labels: docs, refactoring, test, feat

#81 [refactor] 파일 구조 변경, 반경 최대 50000으로 변경
  src/main/java/com/backend/arthere/arts/application/ArtsService.java
  src/main/java/com/backend/arthere/arts/domain/ArtsCustomRepository.java
  src/main/java/com/backend/arthere/arts/domain/ArtsCustomRepositoryImpl.java
  src/main/java/com/backend/arthere/arts/dto/request/ArtImageByAddressRequest.java
  src/main/java/com/backend/arthere/arts/dto/request/ArtImageByArtNameRequest.java
  src/main/java/com/backend/arthere/arts/dto/request/ArtImageByLocationRequest.java
  src/main/java/com/backend/arthere/arts/dto/request/ArtImageByRevisionDateRequest.java
  src/main/java/com/backend/arthere/arts/dto/response/ArtImageByAddressResponse.java
  src/main/java/com/backend/arthere/arts/dto/response/ArtImageByArtNameResponse.java
  src/main/java/com/backend/arthere/arts/dto/response/ArtImageByLocationResponse.java
  src/main/java/com/backend/arthere/arts/dto/response/ArtImageByRevisionDateResponse.java
  src/main/java/com/backend/arthere/arts/dto/response/ArtImageResponse.java
  src/main/java/com/backend/arthere/arts/dto/response/LocationRangeResponse.java
  src/main/java/com/backend/arthere/arts/presentation/ArtsController.java
  src/main/java/com/backend/arthere/arts/util/LocationUtils.java
  src/test/java/com/backend/arthere/arts/application/ArtsServiceTest.java
  src/test/java/com/backend/arthere/arts/domain/ArtsRepositoryTest.java
  src/test/java/com/backend/arthere/arts/presentation/ArtsControllerTest.java
  src/test/java/com/backend/arthere/arts/util/LocationUtilsTest.java
  src/test/java/com/backend/arthere/fixture/ArtsFixtures.java
Labels: cleanup, fix

#83 [feate] 카테고리 분류 기능 추가
  src/docs/asciidoc/arts.adoc
  src/main/java/com/backend/arthere/arts/domain/ArtsCustomRepositoryImpl.java
  src/main/java/com/backend/arthere/arts/dto/request/ArtImageByAddressRequest.java
  src/main/java/com/backend/arthere/arts/dto/request/ArtImageByArtNameRequest.java
  src/main/java/com/backend/arthere/arts/dto/request/ArtImageByRevisionDateRequest.java
  src/main/resources/static/docs/index.html
  src/test/java/com/backend/arthere/arts/presentation/ArtsControllerTest.java
Labels: test, feat

#80 [feat] 데이터 형식이 올바르지 않을 때 에러 처리
  src/main/java/com/backend/arthere/global/error/ControllerAdvice.java
Labels: feat

#85 [feat] 게시물 세부 조회 구현
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/post.adoc
  src/main/java/com/backend/arthere/global/config/SecurityConfig.java
  src/main/java/com/backend/arthere/global/error/ControllerAdvice.java
  src/main/java/com/backend/arthere/member/dto/response/WriterResponse.java
  src/main/java/com/backend/arthere/post/application/PostService.java
  src/main/java/com/backend/arthere/post/domain/Post.java
  src/main/java/com/backend/arthere/post/domain/PostRepository.java
  src/main/java/com/backend/arthere/post/dto/response/PostResponse.java
  src/main/java/com/backend/arthere/post/exception/PostNotFoundException.java
  src/main/java/com/backend/arthere/post/presentation/PostController.java
  src/main/resources/static/docs/index.html
  src/test/java/com/backend/arthere/fixture/PostFixtures.java
  src/test/java/com/backend/arthere/global/ControllerTest.java
  src/test/java/com/backend/arthere/post/application/PostServiceTest.java
  src/test/java/com/backend/arthere/post/domain/PostRepositoryTest.java
  src/test/java/com/backend/arthere/post/presentation/PostControllerTest.java
Labels: docs, test, feat

#88 [feat] 좋아요 기능 구현
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/like.adoc
  src/docs/asciidoc/post.adoc
  src/main/java/com/backend/arthere/auth/presentation/AuthenticationArgumentResolver.java
  src/main/java/com/backend/arthere/global/config/SecurityConfig.java
  src/main/java/com/backend/arthere/like/application/LikeService.java
  src/main/java/com/backend/arthere/like/domain/Like.java
  src/main/java/com/backend/arthere/like/domain/LikeRepository.java
  src/main/java/com/backend/arthere/like/presentation/LikeController.java
  src/main/java/com/backend/arthere/post/application/PostService.java
  src/main/java/com/backend/arthere/post/domain/Post.java
  src/main/java/com/backend/arthere/post/domain/PostRepository.java
  src/main/java/com/backend/arthere/post/dto/response/PostResponse.java
  src/main/java/com/backend/arthere/post/presentation/PostController.java
  src/main/resources/static/docs/index.html
  src/test/java/com/backend/arthere/fixture/PostFixtures.java
  src/test/java/com/backend/arthere/global/BaseControllerTest.java
  src/test/java/com/backend/arthere/global/ControllerTest.java
  src/test/java/com/backend/arthere/like/application/LikeServiceTest.java
  src/test/java/com/backend/arthere/like/domain/LikeRepositoryTest.java
  src/test/java/com/backend/arthere/like/presentation/LikeControllerTest.java
  src/test/java/com/backend/arthere/post/application/PostServiceTest.java
  src/test/java/com/backend/arthere/post/domain/PostRepositoryTest.java
  src/test/java/com/backend/arthere/post/presentation/PostControllerTest.java
Labels: docs, refactoring, test, feat
